<mat-card>Ingrese los datos de los signos vitales</mat-card>

<form class="example-container" [formGroup]="form" #frmSignos="ngForm" (submit)="operate()" style="padding: 0em 1em;">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idSign">
        </mat-form-field>
    </div>
<!--
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID de Paciente" required formControlName="idPatient">
        </mat-form-field>
    </div>
-->
    <div style="display: flex; flex-flow: row; align-items: center;">
        <mat-form-field class="example-full-width" style="flex-grow: 1;">
            <input matInput placeholder="Paciente" required formControlName="patient" [matAutocomplete]="auto" [formControl]="patientControl">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let m of patientsFiltered$ | async" [value]="m">
                    {{m.firstName}} {{m.lastName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="newVitalSign()">
            <mat-icon>edit</mat-icon>&nbsp;
            <span>Nuevo Paciente</span>
        </button>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha" required formControlName="vitalSignDate" type="date">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura (Cº)" required formControlName="temperature" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulsaciones p/min" required formControlName="pulse" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Respiraciones p/min" required formControlName="respiratoryRate" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/vital-sign' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>